@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables
@import "variables/navbar";
@import "variables/carousel";
@import "variables/cards";

//Secciones
@import "secciones/biografia";
@import "secciones/formulario";
@import "secciones/index";
@import "secciones/productos";
@import "secciones/servicios";