
.nav{
    display: inline-block;
}
.title{
    text-align: center;
    margin-top: 20px;
}
.imgDesc{
    width: 100%;
    height: 90vh;
    display: inline-block;
    .inblo{
        display: flex;
        p{
            margin:5vh 1vh;
            float: none;
        }
        img{
            max-width: 200px;
            max-height: 200px;
            margin: 5vh 1vh
        
        }
    }

}
.gridBio, footerBio{  
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  }
.footerBio{
    text-align: center;
}
