.gridIndex, .footerIndex {
    font-family: "Quicksand", sans-serif;
    display: grid;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  }
  .footerIndex{
    text-align: center;
  }
  
.buscador{
    text-align: center;
    margin: 50px 0;
    color: violet;
    input {
        width: 50%;
        display: inline-block;
        padding: 15px 32px;
        border: none;
        border-radius: 5px;
      }
    .button {
        background-color: #a35edc; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
      }
    .button:hover{
        background-color: #964fd0;
    }
}
.fa {
    margin: 0 10%;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #3333a5;
}
 .fa:hover{
     transform: scale(1.2);
 }

.footerIndex{
    text-align: center;
}
.gridIndex {  display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .buscador { grid-area: 2 / 1 / 3 / 2; }
  
  .mainIndex { grid-area: 3 / 1 / 5 / 2; }
  
  .nav { grid-area: 1 / 1 / 2 / 2; }
  
  .slideshow-container { grid-area: 3 / 1 / 4 / 2; }
  
  .gridHijoIndex { grid-area: 4 / 1 / 5 / 2; }
  
 .footerIndex { grid-area: 5 / 1 / 6 / 2; }
