.gridServ, .footerServ {
    font-family: "Quicksand", sans-serif;
    display: grid;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  }
.serv{
    margin: 10%;
    max-width: 80%;
    display: block;
    span{
        font-weight: bold;
    }
    .parrafo{
        margin: 10px;
    }
    
}
.footerServ{
    text-align: center;
}

.tituloServ{
    text-align: center;
    margin-bottom: 15px;
    color: #2727be;
}